# Environments
.venv/
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage

# IDEs
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Data
# Ignore all .db files by default
*.db
